bin/
obj/
Compartilhar/
.vs/
.dotnet-sdk/

*.user
*.suo
*.cache
*.pdb
*.zip
*.exe

publish/
publish*/
artifacts/
dotnet-install.ps1

dados.json
ControleDeContasSteam-dados.json
ControleDeContasSteam-Backups/
